<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Pedido confirmado</title>
    <style>
        h1 {
          color: red;
          font-weight: bold;
          font-size: 22px;
        }

        p {
          font-size: 18px;
        }
    </style>
</head>
<body>
<h1>${order.restaurant.name} - Pedido cancelado</h1>

<p>Olá, ${order.user.name} seu pedido foi cancelado com sucesso!</p>

</body>
</html>
