<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Pedido confirmado</title>
    <style>
        h1 {
          color: green;
          font-weight: bold;
          font-size: 22px;
        }

        p {
          font-size: 18px;
        }
    </style>
</head>
<body>
<h1>${order.restaurant.name} - Pedido confirmado</h1>

<p>Olá, ${order.user.name} seu pedido foi confirmado com sucesso!</p>

<table cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px; color: #6F6F6F">
    <#list order.itens as item>
        <tr>
            <td style="padding: 10px 0">${item.quantity}x - ${item.product.name}</td>
            <td style="width: 30px">${item.totalPrice?string.currency}</td>
        </tr>
    </#list>

<tr>
    <td style="padding: 10px 0">Frete: ${order.delivery?string.currency}</td>
</tr>

<tr>
    <td style="padding: 10px 0">Total: ${order.total?string.currency}</td>
</tr>

</table>

</body>
</html>
